@use 'src/styles/vars';

.header {
  height: 10vh;
  background-color: vars.$lightColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 100%;
    width: 10vh;
  }
  
}
